

{# app/Resources/views/lucky/number.html.twig #}

{% extends 'base.html.twig' %}
{% block body %}
	<h1>Your lucky number is {{ number }}</h1>
	<h2> Numero de intentos es {{ app.session.get('intentos') }}</h2>
	{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }} intentos!!
    </div>
{% endfor %}
{% endblock %}