{% extends 'layout.twig' %}

{% block content %}
	<div class="starter-template">
		<h1>Contact Us</h1>
		<p class="lead">Want some Llama farming tips? Get in touch using the form below.</p>
	</div>
	<div class="row">
		<div class="col-md-4">
			<p><img class="img-responsive" src="{{ asset('img/long-llama.jpg') }}" alt="Image 'Llama' by Asra Valorshon"></p>
			<p class="text-center"><small> Image 'Llama' by <a href="https://www.flickr.com/photos/26548797@N00/" title="Asra Valorshon on Flickr">Asra Valorshon</a></small></p>
		</div>
		<div class="col-md-8">
			<p>Contact us using the form below and we'll get back in touch with you when we aren't shearing our luscious Llamas.</p>
			<form role="form" method="get" action="{{ path('road') }}">
				<div class="form-group">
			    <label for="name">Name</label>
			    <input type="name" class="form-control" id="name" placeholder="Enter Name">
			  </div>
			  <div class="form-group">
			    <label for="email">Email address</label>
			    <input type="email" class="form-control" id="email" placeholder="Enter email">
			  </div>
			  <div class="form-group">
			    <label for="message">Message</label>
			    <textarea name="message" id="message" class="form-control" rows="3" placeholder="Enter Your Message"></textarea>
			  </div>
			  <div class="form-group">
			  	<button type="submit" class="btn btn-default">Send It</button>
			  </div>
			</form>
		</div>
	</div>
{% endblock %}