{% extends 'layout.twig' %}

{% block content %}
	<div class="starter-template">
		<h1>Donde estamos!</h1>
		
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11977.949626477186!2d2.1501076824775565!3d41.36349405950329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x96ca1fc1ad4969aa!2zRnVuZGFjacOzIEpvYW4gTWlyw7M!5e0!3m2!1ses!2ses!4v1478533399472" width="600" height="450" frameborder="0" style="border:0; width:95%" allowfullscreen></iframe>
			</p>
			<p>

			</p>
			<p class="text-center">
				<small>Ubicacion por <a href="www.google.es" target="_blank">googleMaps</a></small>
			</p>
		</div>
		
	</div>
{% endblock %}